name = "GOSTCrypto"
uuid = "ff074cd3-aea5-4403-a55a-fbbbb24c6ab1"
authors = ["Kirill <kirill94_12@mail.ru> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
